<div>

  <h4 class="text-muted mb-4">Lista de juegos </h4>

  <div class="row mb-4">

    <div class="col-md-12">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3">
          <h5>Juegos</h5>
          <button [routerLink]="['/games/create']" class="btn btn-outline-primary float-right">Registrar juego</button>
        </div>
        <div class="card-body">
          <div class="col-12 text-center">
            <i *ngIf="loading === true" class="fa fa-sync fa-5x fa-spin text-center"></i>
          </div>
          <div class="table-responsive-md">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Titulo</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Categoria</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let game of games">
                  <th>{{game.id}}</th>
                  <td>{{game.title}}</td>
                  <td>${{game.price}}</td>
                  <td>{{game.category}}</td>
                  <div [routerLink]="['/games/edit',game._id]" class="btn btn-sm btn-outline-warning rounded-0 mr-2 ">
                    <i class="far fa-edit"></i>
                  </div>
                  <div (click)="deleteGame(game.title, game._id)" class="btn btn-sm btn-outline-danger rounded-0 mr-2 ">
                    <i class="far fa-trash-alt"></i>
                  </div>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>