<div class="col-md-12 col-lg-8 mb-4 align-items-stretch">
  <div class="card border-0 rounded-0 h-100">
    <div class="card-title mb-1 p-3">
      <h5>Registrar juego</h5>
    </div>
    <div class="card-body">
      <form (ngSubmit)="sendGame(f)" 
      #f="ngForm">
        <div class="form-group row">
          <label for="title"  class="col-sm-2 col-form-label text-nowrap">Titulo</label>
          <div class="col-sm-10">
            <input type="text" name="title" [(ngModel)]="game.title" class="form-control rounded-0" id="title" aria-describedby="emailHelp"
              placeholder="Titulo">
          </div>
        </div>
        <div class="form-group row">
          <label for="descripcion"  class="col-sm-2 col-form-label text-nowrap">Descripción</label>
          <div class="col-sm-10">
            <input type="text" name="desciption" [(ngModel)]="game.description" class="form-control rounded-0" id="description" aria-describedby="emailHelp"
              placeholder="Escribe una descripcion">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label text-nowrap">Precio</label>
          <div class="col-sm-10">
            <input type="text" name="price" [(ngModel)]="game.price" class="form-control rounded-0" id="price" placeholder="Precio">
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-2 col-form-label text-nowrap">Link imagen</label>
          <div class="col-sm-10">
            <input type="text" name="image" [(ngModel)]="game.image" class="form-control rounded-0" id="image" placeholder="Link">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Categoria:</label>
          <select name="category" [(ngModel)]="game.category" class="form-control rounded-0" id="category">
            <option>Disparos</option>
            <option>Aventura</option>
            <option>Estrategia</option>
            <option>Peleas</option>
            <option>Accion</option>
          </select>
        </div>
        <div class="form-group row">
          <label for="inputPassword" class="col-sm-3 col-form-label text-nowrap">Año de lanzamiento:</label>
          <div class="col-sm-10">
            <input type="date" name="year" [(ngModel)]="game.year" class="form-control rounded-0" id="year" placeholder="Año lanzamiento">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Rank:</label>
          <select name="rank" [(ngModel)]="game.rank" class="form-control rounded-0" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        
        <div class="form-group row">
          <label for="" class="col-sm-2 col-form-label"></label>
          <div class="col-sm-12">
            <button type="submit" class="btn btn-outline-lightning rounded-0 m-3">Registrar</button>
            <button routerLink="/games" type="button" class="btn btn-outline-danger rounded-0 m-3">regresar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>