<div class="col-md-12 col-lg-12 mb-4 align-items-stretch">
  <div class="card border-0 rounded-0 h-100">
    <div class="card-title mb-1 p-3">
      <h2>Detalle de la orden</h2>
    </div>
    <div class="card-body">
      <h3>Juegos adquiridos en la orden</h3>
      <div class="row">
        <div class="col-6">
          <ul class="list-group">
            <li *ngFor="let game of games" class="list-group-item">{{game.title}} - <img style="width: 10%;" src="{{game.image}}"></li>
          </ul>
        </div>
        <div class="col-6">
          <h3>Total en $ de la compra</h3>
          <h4 style="color: greenyellow;"> <i class="fa fa-dollar-sign"></i> {{orderall['total'] || 0}} </h4>
        </div>
      </div>
      
    </div>
  </div>
</div>