<div class="wrapper fadeInDown">
  <div id="formContent" class="mt-5">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first p-5">

      <h3>Bienvenido</h3>

    </div>

    <!-- Login Form -->
    <form #LoginForm="ngForm" (ngSubmit)="login(LoginForm)" >
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Correo electronico" [(ngModel)]="user.email">
      <input type="password" id="password" class="fadeIn third" name="password" placeholder="Contraseña" [(ngModel)]="user.password">
      <input type="submit" class="fadeIn fourth" value="Entrar">
    </form>

    

  </div>
</div>
