<div class="col-12 col-xl-12 mb-4 align-items-stretch">
  <div class="card h-100 border-0 rounded-0">
    <div class="card-title mb-1 p-3 d-flex">
      <h3>Ordenes</h3>
      <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis-h"></i> </a>
    </div>
    <div class="card-body">
      <div class="table-responsive-md">
        <div class="table-responsive">
          <table class="table ">
            <thead>
              <tr>
                <th style="width:10%;">ID Orden</th>
                <th class="number">Cliente</th>
                <th style="width:20%;">Total</th>
                <th style="width:20%;">Ciudad</th>
                <th style="width:20%;">Dirección</th>
                <th style="width:20%;">Fecha</th>
                <th style="width:20%;">Estado</th>
                <th class="Acciones" style="width:5%;">Acciones</th>
                
                <th style="width:20%;">Email</th>
              </tr>
            </thead>
            <tbody class="no-border-x">
              <div *ngIf="!orders"> No hay ordenes aun </div>
              <tr *ngFor="let order of orders">
                <td>{{order.id}}</td>
                <td class="number">{{ order.customer_name }}</td>
                <td>{{order.total}}</td>
                <td>{{order.city}}</td>
                <td>{{order.adress}}</td>
                <td>{{order.created_at | date}}</td>
                <button [routerLink]="['/orders/status', order.id]" class="btn btn-sm btn-outline-lightning rounded-0"><i class="fa fa-eject mr-1 pt-2"></i>Detalles</button>
                <td>
                  <div *ngIf="order.status == 'active'" class="badge badge-success">Completado</div>
                  <div *ngIf="order.status != 'active'" class="badge badge-success">Pendiente</div>
                  
                </td>
                <button (click)="sendOrder(order.id)" class="btn btn-sm btn-outline-lightning rounded-0"><i class="fa fa-mail-bulk mr-1 pt-2"></i></button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
</div>
