<div>
  <h4 class="mb-4 text-muted">Dashboard </h4>

  <div class="row">

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-dollar-sign" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Ventas del mes de: {{lastmonth || "Ninguno"}}</p>
              <h4 class="card-text text-right "> {{SalesPerMonthNow.Total || 0}} </h4>
            </div>
          </div>
        </div>
        <!--<div class="card-footer d-flex ">
          <small class="text-muted">Since last month</small>
          <small class="text-success ml-auto">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            5,35%
          </small>
        </div>-->
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fa fa-dollar-sign" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Ganancias totales</p>
              <h4 class="card-text text-right ">{{ ProfitsTotal.Total || 0 }}</h4>
            </div>
          </div>
        </div>
        <!--<div class="card-footer d-flex ">
          <small class="text-muted">Since last month</small>
          <small class="text-success ml-auto">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            8,66%
          </small>
        </div> -->
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-user-circle" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Total de usuarios registrado</p>
              <h4 class="card-text text-right "> {{totalUsers || 0}} Usuarios</h4>
            </div>
          </div>
        </div>
        <!--<div class="card-footer d-flex ">
          <small class="text-muted">Since last month</small>
          <small class="text-success ml-auto">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            5,35%
          </small>
        </div>-->
      </div>
    </div>

    <div class="col-md-6 col-lg-3 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-body">
          <div class="card-innerBody d-flex align-items-center">
            <div class="card-icon text-light">
              <i class="fas fa-user-circle" aria-hidden="true"></i>
            </div>
            <div class="ml-auto">
              <p class="card-label text-right text-muted">Total de ordenes</p>
              <h4 class="card-text text-right "> {{totalUsers || 0}} Usuarios</h4>
            </div>
          </div>
        </div>
        <!--<div class="card-footer d-flex ">
          <small class="text-muted">Since last month</small>
          <small class="text-success ml-auto">
            <i class="fa fa-caret-up" aria-hidden="true"></i>
            5,35%
          </small>
        </div>-->
      </div>
    </div>

   

  </div>
  

  <select class='select-option'
    #mySelect
    (change)='onOptionsSelected(mySelect.value)'>
   <option  class='option' 
   *ngFor='let option of dropDownData' 
   [value]="option">{{option}}</option>
  </select>


  <div class="row">
    <div class="col-12 col-xl-6 mb-4">
      <div class="card border-0 rounded-0">
        <div class="card-title mb-1 p-3 d-flex">
          <h6>Ordenes del año</h6>
          <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis-h"></i> </a>
        </div>
        <div class="card-body">
          <div style="display: relative;">
            <canvas baseChart 
              [datasets]="barChartDataOrd"
              [labels]="barChartLabelsOrd"
              [options]="barChartOptionsOrd"
              [plugins]="barChartPluginsOrd"
              [colors]="lineChartColors"
              [legend]="barChartLegendOrd"
              [chartType]="barChartTypeOrd">
            </canvas>
          </div>
        </div>
    </div>
  </div>

  <div class="col-12 col-xl-6 mb-4">
    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3 d-flex">
        <h6>Ventas $ del año</h6>
        <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis-h"></i> </a>
      </div>
      <div class="card-body">
        <div style="display: relative;">
          <canvas baseChart 
            [datasets]="barChartDataSal"
            [labels]="barChartLabelsSal"
            [options]="barChartOptionsSal"
            [plugins]="barChartPluginsSal"
            [colors]="lineChartColors"
            [legend]="barChartLegendSal"
            [chartType]="barChartTypeSal"
            >
          </canvas>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 col-xl-12 mb-4">
    <div class="card border-0 rounded-0">
      <div class="card-title mb-1 p-3 d-flex">
        <h6>Ganancias del mes de Abril por dia</h6>
        <a class="btn ml-auto p-0 text-lightning"> <i class="fas fa-ellipsis-h"></i> </a>
      </div>
      <div class="card-body">
        <div style="display: relative;">
          <canvas baseChart 
          [datasets]="barChartDataDay"
          [labels]="barChartLabelsDay"
          [options]="barChartOptionsSal"
          [colors]="lineChartColors"
          [legend]="barChartLegendSal"
          [chartType]="lineChartType"
          [plugins]="barChartPluginsOrd">
          </canvas>
        </div>
      </div>
    </div>
  </div>

</div>